body{
    background-color: black;
    font-family: Roboto , Arial ;
}
.header{
    display:flex;
    position:relative;
    place-content: center;
    justify-content:space-between;
    height: 60px;
    max-width: 100%;
    margin: 30px 20px;
}

.tooltip1{
    display:none;
    position:absolute;
    top:0px;
    left:80px;
    background-color: white;
    padding:6px;
    border:2px solid sandybrown;
    border-radius: 10px;
}
.instructions{
    display: none;
    position:absolute;
    border:2px solid sandybrown;
    border-radius: 20px;
    left:100px;
    top:100px;
    padding-left: 10px;
    padding-top: 0px;
    width:750px;
    background-color: white;
}

.question-icon{
    width:60px;
    cursor: pointer;
    margin-top:-10px;
    padding-bottom: 10px;
}
@media(min-width:997px){
    .question-icon{
        width:65px;
    }
}

.question-icon:hover + .tooltip1 {
    display: block;
}

.header-image{
    width:150px;
    border-radius:15px;
}
.head{
    color:white;
    margin-top:8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
@media (min-width: 997px) {
    .head {
        font-size: 40px;
    }
}

.profile-icon{
    width:60px;
    cursor: pointer;
}
@media(min-width:997px){
    .profile-icon{
        width:67px;
    }
}


.icon-image{
    border-style:none;
    border-radius:100%;
    margin-left:15px;
    margin-top:6px;
    margin-bottom:5px;
    margin-right:50px;
}

.move-reset{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    max-width: 100%;
    height:auto;
}

.move-display{
    justify-content:space-evenly;
    align-items: center;
    min-width: 100px;
    height:auto;
}
.moves{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100px;
    height:auto;
    margin-bottom:20px;
}

.auto-play-button{
    border : 4px solid hsl(211, 98.60%, 72.90%);
    border-radius:10px;
    background-color: hsl(211, 98.60%, 72.90%);
    color:white;
    font-weight: bold;
    font-size: 25px;
    height:52px;
    width:250px;
    justify-content: center;
}
.auto-play-button:hover{
    cursor:pointer;
    box-shadow: 3px 3px 4px grey;
}

.b3{
    border : 4px solid hsl(300, 94%, 72%);
    border-radius:10px;
    background-color: hsl(300, 94%, 72%);
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    height:52px;
    width:250px;
    justify-content: center;
    cursor: pointer;
}
.b3:hover{
    box-shadow: 3px 3px 4px grey;
}

.computer-move , .your-move{
    color:white;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-background-one,.black-background-two{
    width:80px;
    border:4px solid whitesmoke;
    border-radius: 50px;
    margin : 0px 15px ;
}

.score-reset{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    height:auto;
}

.wins-display, .losses-display,.tie-display{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
}

.remove-div{
    text-align: center;
    width:392px;
}
#removeText{
    color:white;
    min-width: 300px;
    font-size: 38px;
}

#reset-button{
    border : 4px solid  hsl(120, 85%, 82%);
    border-radius:10px;
    background-color: hsl(120, 85%, 82%);
    font-weight: bold;
    font-size: 25px;
    height:52px;
    width:250px;
}
#reset-button:hover{
    cursor:pointer;
    opacity:0.9;
}
#reset-button:active{
    opacity:0.5;
}
